<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons&?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>THE Banana Bread</title>
    <meta name="description" content="World's best banana bread recipe, and it's simple!">
    <meta property="og:title" content="The only banana bread recipe you need">
    <meta property="og:description" content="World's best banana bread recipe, and it's simple!">
    <meta property="og:image" content="./images/main_1.1.jpg" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38866967-5"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-38866967-5');
    </script>
    <link rel="icon" 
      type="image/png" 
      href="images/favicon.png">
</head>

<body>
    <div id='app' v-scroll="handleScroll">
       <div class="header">
            <div class="title-wrap">
                <div class="title">
                    <h1>{{ app_name }}</h1>
                </div>
            </div>
           <div class="navbar-placer" v-if="isSticky"></div>
           <div class ='navbar' :class="{ 'sticky': isSticky }" id="navbar">               
               <ul>
                   <li :class="{'navbar-item':true,'active':item.active}" v-for='(item, index) in navbar_items' v-on:click='smoothScroll(index)'>
                       {{item.name}}
                   </li>
               </ul>
           </div>
       </div>
       <div class="main-content">
           <section id='overview'>
                <!-- <div class="divider"> -->
                <a id='overview' ref='overview'></a>
                <!-- </div> -->
                <div class="overview-header">
                    <h2>{{recipe_name}}</h2>
                    <div class="social-buttons">
                        <button @click='copyUrl()'><span class="material-icons">reply</span><label>Share</label></button>
                        <button><span :class="{'material-icons':true, liked:isLiked}" @click='likeToggle()'>thumb_up</span><label>Rate</label></button>
                        <!-- <a href="whatsapp://send?text=Hello%20World!">Hello, world!</a> -->
                    </div>
                </div>
                <div class="rating">
                    <div class="rating-item" v-for='item in rating_items'>
                        <div class="rating-title">{{item.name}}</div>
                        <div class="rating-score">
                            <span>{{item.rating}}</span>
                            <span class="material-icons md-18" >star</span>
                            <span class="material-icons md-18">star</span>
                            <span class="material-icons md-18">star</span>
                            <span class="material-icons md-18">star</span>
                            <span class="material-icons md-18">star_half</span>
                            <span>({{item.votes}})</span>
                        </div>
                    </div>
                </div>
                <div class="main-img" :style='{backgroundImage : main_img}'>
                </div>
           </section>
           <section id="ingridient">
                <a id='ingredients' ref='ingredients'></a>
                <div class="divider">
                </div>
                <h2>Ingredients</h2>
                <table>
                    <tr v-for="(ing, index) in ingredients" :class="{done : ing.done}">
                        <td><input type="checkbox" @click='toggleDone(index)'></td>
                        <td>{{ing.name}}</td>
                        <td class="quant-col">{{ing.quant}}</td>
                        <td>
                            <button @click='switchSize(ing)'>{{ing.selectedSize}}</button>
                        </td>
                    </tr>
                </table>
           </section>
           <section id='steps'>
                <a id='steps' ref='steps'></a>
                <div class="divider">
                </div>
                <h2>Steps</h2>
                <div class="steps-cont">
                    <div v-for='(item,index) in steps' :class='{step: true, activestep: item.active}' @click='toggleStep(index)'>
                        <div>
                            <div class="step-number">{{index + 1}}</div>
                            <div class="step-name">{{item.name}}</div>
                        </div>
                        <div class="step-ing">{{item.ing}}</div>
                        <div class="step-cont">{{item.content}}</div>
                    </div>
                </div>
            </section>
       </div>
       <footer>
           <div class="footer-cont">
                <div class="credit">The Banana Project 🍌</div>
                <div class="social-buttons">
                    <button @click='copyUrl()'><span class="material-icons">reply</span><label>Share</label></button>
                    <button><span :class="{'material-icons':true, liked:isLiked}" @click='likeToggle()'>thumb_up</span><label>Rate</label></button>
                </div>
           </div>
        </footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="data/ingrs.json"></script>
<script src="data/recipe.json"></script>
<script src="scripts/script.js"></script>
</html>
 
