body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
h1 {
    font-family: Roboto Slab;
}
h1,h2 {
    margin-left: 16px
}

table {
    border-collapse: collapse;   
    overflow: hidden;
}

tr td:first-child{
    padding-left: 16px;
}
tr td:last-child {
    padding-right: 16px;
}

tr td::first-letter {
    text-transform: capitalize;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    padding: 16px 8px;
    border: none;
    /* max-width: 193px; */
    /* border: 2px solid; */
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #F2C94C;
}

.overview-header {
    display: flex;
    justify-content: space-between;
    /* margin: 0 16px; */
}

.main-content {
    margin: auto;
    max-width: 600px;
}

.social-buttons {
    margin: auto 16px;
    display: flex;
}

.social-buttons button {
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    background: none;
    color: 4f4f4f;
    /* height: 56px; */
    border: none;
    /* justify-content: space-between; */
}

.liked {
    color: #0072ff;
}

.rating {
    display: flex;
    /* margin: 16px 0; */
    overflow-x: scroll;
    padding: 16px;
}

.rating-item {
    margin-right: 24px;
    border: 1px solid;
    padding: 16px;
    border-radius: 8px;
    border-color: #cccccc;
    color: #4f4f4f;
}

.rating-score {
    display: flex;
    font-size: 12px;
}

.rating-score span {
    margin: auto;
    margin-right: 4px;
}

.main-img {
    width: 100%;
    height: 100%;
    max-height: 1000px;
    /* max-width: 600px; */
    background-size: cover;
    background-position: center;
}

li {
    text-decoration: none;
    list-style: none;
}

.title {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    background-color: #FFE185;
    overflow: hidden;
}

.navbar li {
    padding: 16px;
    font-weight: 100;
}

@media(hover: hover) and (pointer: fine) {
    .navbar-item:hover {
        background-color: #fdd869;
        cursor: pointer;
    }
}

.navbar-item.active {
    border-bottom: #0072ff solid 4px;
    color: black;
    font-weight: 500;
}

.navbar ul{
    padding: 0;
    display: flex;
    width: 100%;
    margin: 0;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.sticky {
    position: fixed;
    top:0;
    width: 100%;
    box-shadow: 1px 3px 12px rgba(0,0,0,0.22);
}

.navbar-placer {
    height: 54px;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    width: 16px;
    height: 16px;
    border: 1px solid #0071ff;
    border-radius: 24px;
    /* background: none; */
}

input[type='checkbox']:checked {
    background-color: #0071ff;
}

.divider {
    height: 54px;
    width: 100%;
}

.done {
    text-decoration: line-through;
    color: #868686;
}

.step {
    background-color: #FFF1A8;
    margin: 24px 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: none;
    transition: background-color 0.1s, box-shadow 0.1s;
}

.step-number {
    /* padding: 8px; */
    background-color: #F2D74C;
    display: inline-block;
    border-radius: 100px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin-bottom: 8px;
}

.step-name {
    font-size: 24px;
    font-weight: 700;
    /* margin-left: 8px; */
}

.step-ing {
    font-weight: 100;
    margin-top: 4px;
}

.step-cont {
    margin-top: 16px;
}

.activestep {
    box-shadow: 1px 3px 12px rgba(0,0,0,0.22);
    background-color: F2D74C;
}

.activestep .step-number {
    background-color: #fff1a8;
}

.material-icons.md-18 {font-size: 18px;color: #f2c94c;}
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

footer {
    width: 100%;
    display: flex;
    background-color: white;
    /* margin: auto; */
}

.footer-cont {
    margin: 16px auto;
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
}

.credit {
    margin: auto 24px;
    margin-right: 0px;
    font-weight: 100;
}

@media only screen and (min-width: 600px) {
    table {
        box-shadow: 1px 3px 12px rgba(0,0,0,0.22);
        border-radius: 8px;
        margin: 0;
        width: 600px;
    }

    .rating {
        padding: 0;
        margin-bottom: 24px;
    }

    .step {
        margin-right: 0;
        margin-left: 0;
    }

    .rating {
        overflow: hidden;
    }
  }